@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil:ital,wght@0,100..900;1,100..900&display=swap');

body {
    color: #241F31;
    font-family: "Saira Stencil", sans-serif;
    background-color: lightgray;
    display: flex;
    margin-top: 200px;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
* {
    font-family: "Saira Stencil", sans-serif;  
}
header {
display: flex;
overflow: hidden;
z-index: -10000;
}
.head {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-justify: center;
    position: relative;
    top: 70px;
    right: 0vw;
    left: 0vw;
    width: 100vw;
    height: 80vh;
    margin: 0px;
    transition: 500ms;
}
.headingparent {
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    text-justify: center;
    right: 0px;
    left: 00vw;
    width: 100%;
    height: 100%;
    margin: 0px;
    font-size: 25px;
    position: absolute;
    background-color: #303145AD;
    text-transform: capitalize;
}
.heading {
    position: absolute;
    color: white;
    
}
.headImg {
    position: relative;
    top: 0px;
    right: 0px;
    left: 0px;
    width: 100vw;
    height: 90vh;
    margin: 0px;
    z-index: -2000;
}
.headerButtons {
    position: relative;
    top: 100px;
    display: flex;
    gap: 10px;
}
.h1Parent {
    width: 100vw;
    text-align: center;
    margin-bottom: 50px;
    text-transform: uppercase;
    margin-top: 100px;
}
.input-parent {
    display: flex;
    gap: 0px;
    border: solid gray .5px;
    padding: 0px;
    border-radius: 10px;
    max-width: 570px;
    margin: auto;
    overflow: hidden;
    font-family: "Saira Stencil", sans-serif;
    margin-bottom: 150px;
}
.search-input {
    background: none;
    color: black;
    border: none;
    height: 40px;
    min-width: 500px;
    font-family: "Saira Stencil", sans-serif;
    max-width: 500px;
    padding-left: 20px;
    outline: none;
}

.search-button {
    background-color: #99C1F1;
    border: none;
    width: 70px;
    position: relative;
    border-radius: 0px 10px 10px 0px;
    margin: 0px;
    cursor: pointer;
    transition: 500ms;
    opacity: .8;
}
.search-button:hover {
    opacity: 1;
}
.productsParent {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 2px;
    margin-bottom: 200px;
}
.productPriPar {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    padding: 2px;
    margin-bottom: 200px;
}
.product {
    width: 300px;
    height: fit-content;
    border: solid grey 0.5px;
    border-radius: 10px;
    backdrop-filter: blur(30px);
    background-color: #9d9d9d44;
    display: inline-block;
    padding: 0px;
    transition: 500ms;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 7px;
    overflow: hidden;
}
.product:hover {
    box-shadow: 0px 0px 5px;
}
.productImage {
    width: 300px;
    height: 200px;
    padding: 0px;
    border-radius: 10px 10px 0px 0px;
    transition: 300ms;
    overflow: hidden;
    cursor: zoom-in;
}
.productImagePar {
    overflow: hidden;
    height: 200px;
}
.productImage:hover {
    transform: scale(1.1);
    
}
.productName {
    margin: 0px;
    margin-left: 10px;
    text-transform: capitalize;
    color: black;
    text-decoration: none;
    width: fit-content;
}
.productName:hover {
    text-decoration: underline;
}
.productPrice {
    margin: 0px;
    color: green;
    margin-left: 10px;
}
.productSpecParent {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin: 0px;
    margin-left: 10px;
    margin-right: 10px;
}
.productSpec {
    background-color: #9d9d9db8;
    box-shadow: blur(20px);
    border-radius: 10px;
    padding: 5px;
    margin: 0px;
    opacity: .9;
    text-transform: uppercase;
}
.productButtons {
    display: flex;
    margin: auto;
    margin-top: 10px;
}
.storeBtn {
    border-radius: 5px;
    border: solid .2px gray;
    text-transform: uppercase;
    padding: 7px;
    cursor: pointer;
    transition: 50ms;
    margin-bottom: 18px;
}
.storeBtn:hover {
    text-decoration: underline;
    border-color: green;
}
.topBar {
  position: fixed;  
  top: 0px;
  right: 0px;
  left: 0px;
  display: flex;
  text-align: center;
  background-color: #303145AD;
  padding: 10px;
  z-index: 999999999;
  opacity: .99;
  backdrop-filter: blur(20px);
  box-shadow: 1px 1px 10px;
  
}
.Logo{
    opacity: 1;
    color: #697ae1;
    font-weight: bold;
    text-transform: uppercase;
}
.clearCartButton {
    position: absolute;
    right: 10px;
    top: 90px;
    cursor: pointer;
    z-index: 10000;
}
.cartButton, .goBackToShop {
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 200px;
    width: 40px;
    height: 40px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 18px;
    right: 15px;
    transition: 200ms;
}
.goBackToShop{
    top: 90px;
    left: 10px;
}
.cartButton:hover, .goBackToShop:hover {
    background-color: #9d9d9d6b;
}
.whatsappM {
    position: fixed;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 600px;
    background-color: #067a38;
    z-index: 100;
    bottom: 20px;
    left: 15px;
    border: solid .02px #303145AD;
    box-shadow: 1px 1px 10px black;    
}
.wxhatsappM img {
    width: 30px;
}
.notification {
    position: fixed;
    background-color: green;
    z-index: 10000000000;
    right: -100%;
    top: 90px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px black;    
    animation: notified 3000ms ease-in;
    
}
@keyframes notified {
    from {
        right: 2px;
    }
    to {
        righjt: -90%;
    }
}
footer {
    background-color: #303145ad;
    backdrop-filter: blur(10px);
    min-height: 300px;
    z-index: 0;
    position: relative;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}
.contacts {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: fit-content;
}
.footerLinks {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    width: fit-content;
}
.footerLinks:hover {
    text-decoration: underline;
}
/*#067a38*/
@media (max-width: 600px) {
  body {
      overflow-x: hidden;
  }
  .input-parent {
      width: 300px;
  }
  .search-button {
      position: relative;
      right: 252px;
  }
  .head {
      height: 60vh;
  }
  .headingparent {
      height: 100%;
  }
  .headImg {
      height: 60vh;
  }
  .headerButtons {
      top: 150px;
  }
  footer {
      flex-direction: column;
  }
}
